* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  display: flex;
  background-color: hsl(0, 100%, 74%);
  background-image: url("images/bg-intro-desktop.png");
  background-attachment: fixed;
  width: 60%;
  margin: auto;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

main .main_content {
  flex-basis: 50%;
  padding: 2rem;
  margin: auto;
}
h1 {
  color: white;
  padding-bottom: 20px;
  font-size: 40px;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.main_content p {
  color: white;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: small;
  width: 90%;
  margin-top: 170px;
  margin-bottom: 5px;
  border-radius: 5px;
  height: 5%;
  border: none;
  background-color: hsl(248, 32%, 49%);
  font-size: 16px;
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Poppins", sans-serif;
  color: white;
  box-shadow: 1px 5px 5px rgb(134, 126, 126);
}

.fill-content .fill_file {
  border: 1px solid hsl(246, 25%, 77%);
  width: 90%;
  background-color: white;
  border-radius: 5px;
  height: 50%;
  padding: 30px;
  margin-right: 60px;
  margin-top: 5px;
  box-shadow: 1px 5px 5px rgb(134, 126, 126);
}

.fill_file input {
  padding: 7px;
  margin: 5px;
  width: 100%;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Poppins", sans-serif;
  height: 13%;
  border-radius: 3px;
  border: 1px solid hsl(246, 25%, 77%);
  color: black;
  font-size: 11px;
  font-weight: bolder;
}

.fill_file #tag {
  background-color: hsl(154, 60%, 53%);
  border: none;
  border-radius: 3px;
  height: 13%;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Poppins", sans-serif;
  color: white;
  cursor: pointer;
}

.fill-content p {
  font-size: 10px;
  padding: 10px;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
  color: hsl(246, 25%, 77%);
}
