* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  place-items: center;
  height: 100vh;
  background-image: url(/task/images/R.jpg);
}

main {
  display: grid;
  grid-template-areas:
    "a a b"
    "c d d"
    "c e e";
  gap: 10px;
  width: 50%;
  margin: 190.5px 190.5px;
}
.pointer {
  color: hsl(31, 77%, 52%);
  width: 60%;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: 15px;
  cursor: pointer;
}
main div {
  padding: 3rem;
  align-items: center;
  text-align: center;
  border-radius: 2px;
}
.a {
  background-color: rgb(221, 82, 31);
  grid-area: a;
}
.b {
  background-color: rgb(228, 178, 17);
  grid-area: b;
}
.c {
  background-color: rgb(61, 153, 61);
  grid-area: c;
}
.d {
  background-color: rgb(21, 137, 231);
  grid-area: d;
}
.e {
  background-color: rgb(21, 137, 231);
  grid-area: e;
}
